@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
	margin: 0;
	padding: 0;
}

#container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3 {
	font-family: 'Raleway';
	font-weight: medium;
	font-size: 40px;
	color: black;
	display: grid;
	grid-column: 2/10;
}

p {
	font-family: 'Raleway';
	font-size: 20px;
	color: black;
}

#sectionOne {
	grid-column: 2/12;
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}

.flex-item-left {
	background-color: pink;
	width: 50%;
}

/* will be commented out when the img is decided
.flex-item-left > img {
	width: 100%;
	height: auto;
}
*/

.flex-item-right {
	width: 50%;
}


/* blue frame */ 
#frame {
	display: grid;
	grid-column: 1/13;
	grid-template-columns: inherit;
	background: rgba(42, 81, 103, 0.5);
	position: relative;
}

#frame > p {
	display: grid;
	grid-column: 2/7;
}

/* will be commented out when the img is decided
#frame > img {
	display: grid;
	grid-column: 7/12;
	position: absolute;

}
*/

#paragraphOne {
	display: grid;
	grid-column: 2/7;
}

.paragraphTwo {
	grid-column: 2/12;
}

.flex-item-left-2 {
	grid-column: 2/7;
}

.flex-item-right-2 {
	grid-column: 7/12;
	background-color: yellow;
}