@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	margin: 0;
	padding: 0;
}

#container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3 {
	font-family: 'Raleway';
	font-weight: medium;
	font-size: 40px;
	color: black;
	display: grid;
	grid-column: 2/10;
	margin: 20px;
}

p {
	font-family: 'Raleway';
	font-size: 30px;
	color: black;
	margin: 20px;
}

/* header */
header {
	display: grid;
	grid-column: 1/13;
	grid-template-columns: inherit;
	background-color: rgba(42, 81, 103, 0.75);
}

#headerContainer {
	display: flex;
	justify-content: space-between;
	grid-column: 2/12;
	align-items: center;
}

#logo {
	display: flex;
	align-items: center;
	margin-right: 550px;
}

#logo > img {
	width: 60px;
	height: 60px;
	border-radius: 5px;
}

#logo > p {
	font-size: 30px !important;
	letter-spacing: 0.2em;
	color: white;
	margin-left: 32px;
} 

.nav {
	display: flex;
	list-style-type: none;
}

.pages {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 20px;
	margin-left: 75px;
	padding: 0px 20px 0px 20px;
}

.page-link {
	font-family: 'Raleway';
	font-size: 25px;
	letter-spacing: 0.15em;
	text-decoration: none;
	color: #000;
	padding: 0;
}

/* drop down menu */
.select-menu {
	font-family: Raleway;
	font-size: 20px;
	color: #000;
}

.select-menu img {
	width: 30px;
	padding-right: 1rem;
}

.sBtn-text {
	padding-right: 1rem;
}

.select-menu .select-btn {
	display: flex;
	background: #fff;
	border-radius: 5px;
	align-items: center;
	cursor: pointer;
	padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}

/* arrow */
.select-btn i {
	font-size: 25px;
	transition: 0.3s;
}

.select-menu.active .select-btn i {
	transform: rotate(-180deg);
}
/* arrow ends */

.select-menu .options{
	position: absolute;
	padding: 20px;
	margin-top: 10px;
	border-radius: 5px;
	background: #fff;
	display: none;
}

.select-menu.active .options {
	display: block;
}

.options .option {
	display: flex;
	align-items: center;
	padding: 16px;
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
}

.options .option:hover {
	background: #F2F2F2;
}
	/* header ends */	

	/* footer */
footer {
	display: grid;
	grid-column: 1/13;
	grid-template-columns: inherit;
	background-color: rgba(42, 81, 103, 0.75);
}

footer > p {
	grid-column: 9/12;
	color: white !important;
	font-size: 15px !important;
	letter-spacing: 0.15em !important;
	text-align: right;
}
	/* footer ends */

#sectionOne {
	grid-column: 2/12;
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}

.flex-item-left {
	width: 50%;
	margin-bottom: 100px;
}

.flex-item-left > img {
	width: 100%;
	height: auto;
}

.flex-item-right {
	width: 50%;
}

/* blue frame */ 
#frame {
	display: grid;
	grid-column: 1/13;
	grid-template-columns: inherit;
	background: rgba(42, 81, 103, 0.5);
	position: relative;
}

#frame > p {
	display: grid;
	grid-column: 2/7;
}

#frame > img {
	display: grid;
	grid-column: 7/12;
	position: absolute;
	margin: 20px;
}

#paragraphOne {
	display: grid;
	grid-column: 2/7;
}

.paragraphTwo {
	grid-column: 2/12;
}

.flex-item-left-2 {
	grid-column: 2/7;
}

.flex-item-right-2 {
	grid-column: 7/12;
}

.flex-item-right-2 > img {
	width: 417px;
	height: 268px;
	float: right;
	margin: 0 50px 50px 50px;
}

@media only screen and (max-width: 600px) {
	h1, h2, h3 {
		font-size: 25px;
		display: grid;
		grid-column: 2/12;
		text-align: center;
	}
	
	p {
		font-size: 15px;
	}

	/* header */
	#logo > img {
		width: 30px;
		height: 30px;
	}
	
	#logo > p {
		font-size: 15px !important;
		margin-left: 10px;
	}
	
	li {
		margin-left: 20px;
		padding: 0px 6px 0px 6px;
	}
	
	a {
		font-size: 10px;
	}
	/* header */

	/* footer */
	footer > p {
		font-size: 10px !important;
	}
	/* footer */

	#sectionOne {
		flex-direction: column;
		align-content: center;
	}

	.flex-item-left {
		width: 100%;
		margin-bottom: 30px;
	}

	.flex-item-left > img {
		width: 150px;
		height: auto;
	}
	
	.flex-item-right {
		width: 100%;
	}

	/* blue frame */ 
	#frame {
		align-content: center;
	}

	#frame > p {
		display: grid;
		grid-column: 2/12;
	}

	#frame > img {
		display: grid;
		grid-column: 2/12;
		position: static;
		margin: 10px;
		width: 150px;
		height: auto;
	}

	#paragraphOne {
		display: grid;
		grid-column: 2/12;
		text-align: center;
	}

	.paragraphTwo {
		text-align: center;
	}

	.flex-item-left-2 {
		grid-column: 2/12;
		text-align: center;
	}

	.flex-item-right-2 {
		grid-column: 2/12;
	}

	.flex-item-right-2 > img {
		width: 150px;
		height: auto;
		float: none;
		margin: 0 50px 50px 50px;
	}
}