@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header * {
	font-family: 'Raleway';
	color: white;
}

header {
	display: grid;
	grid-column: 1/13;
	grid-template-columns: inherit;
	background-color: rgba(42, 81, 103, 0.75);
}

#headerContainer {
	display: flex;
	justify-content: space-between;
	grid-column: 2/12;
	align-items: center;
}

#logo {
	font-size: 25px;
	letter-spacing: 0.2em;
}

nav * {
	display: flex;
	list-style-type: none;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 0.05em;
	margin-right: 70px;
}

.profile {
	display: flex;
	align-items: center;
}

.profile * {
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 0.05em;
}

.profile > img {
	height: 60px;
	margin-left: 16px;
}
