body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

p {
    font-family: 'Raleway';
    font-size: 15px;
    color: black;
}

#intro {
    grid-column: 2/8;
}

h2 {
    font-size: 30px;
    font-family: 'Raleway';
}

h1 {
    font-size: 40px;
    font-family: 'Raleway';
}
#select{
    grid-column: 2/12;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.box1{
    background-color: #2A5167;
    padding-bottom: 132px;
}
.box2{
    background-color: #2A5167;
    padding-bottom: 50px;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 20px;
}
p{
    color: white;
}
h3{
    color: white;
}