@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

p {
    font-family: 'Raleway';
    font-size: 15px;
    color: black;
}

    /* header */
header {
    display: grid;
    grid-column: 1/13;
    grid-template-columns: inherit;
    background-color: rgba(42, 81, 103, 0.75);
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    grid-column: 2/12;
}

#logo {
    display: flex;
    align-items: center;
}

#logo > img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

#logo > p {
    font-size: 30px !important;
    letter-spacing: 0.2em;
    color: white;
    margin-left: 32px;
} 

ul {
    display: flex;
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-left: 75px;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
}
li:hover{
    background-color: #F1F1F1;
}

li > a {
    font-family: 'Raleway';
    font-size: 25px;
    letter-spacing: 0.15em;
    text-decoration: none;
    color: rgba(42, 81, 103, 0.75);
    padding: 0;
}
    /* header ends */

    /* footer */
footer {
    display: grid;
    grid-column: 1/13;
    grid-template-columns: inherit;
    background-color: rgba(42, 81, 103, 0.75);
    width: 100%;
}

footer > p {
    grid-column: 9/12;
    color: white !important;
    font-size: 15px !important;
    letter-spacing: 0.15em !important;
    text-align: right;
    font-family: 'Raleway';
}
    /* footer ends */

#intro {
    grid-column: 2/8;
}

h2 {
    font-size: 30px;
    font-family: 'Raleway';
}

h1 {
    font-size: 40px;
    font-family: 'Raleway';
}

#buttons {
    grid-column: 2/5;
    display: flex;
    flex-direction: row;
}

.change {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    width: 101px;
    height: 44px;
    background: rgba(42, 81, 103, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}
.change:hover{
    background-color: rgba(45, 84, 106, 0.70);
}

.change2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    width: 101px;
    height: 44px;
    background: rgba(42, 81, 103, 0.25);
    border-radius: 5px;
    cursor: pointer;
}
.change2:hover{
    background-color: rgba(45, 84, 106, 0.40);
}

.link {
    text-decoration: none;
    color: black;
}

.connect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 187px;
    height: 44px;
    background: rgba(42, 81, 103, 0.25);
    border-radius: 5px;
    cursor: pointer;
}
.connect:hover{
    background-color: rgba(45, 84, 106, 0.40);
}

.connect2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 187px;
    height: 44px;
    background: rgba(42, 81, 103, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}
.connect2:hover{
    background-color: rgba(45, 84, 106, 0.70);
}

.img {
    width: 35px;
    height: 35px;
    mix-blend-mode: multiply;
}

#translator { 
    grid-column: 2/12;
    margin-top: 20px;
    margin-bottom: 20px;
}

.languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 5px;
}

.text {
    margin: 7px 0px 7px 0px;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.75);
}

.lang {
    width: 50px;
    height: auto;
}

.texts {
    display: flex;
    flex-direction: row;
}

textarea {  
    font-family: 'Raleway';
    font-size: 20px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 400px;
    resize: none;
}

.englishText {
    width: 50%;
    background-color: #D9D9D9;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.englishText2 {
    width: 100%;
    background-color: #D9D9D9;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.dutchText {
    width: 50%;
    background-color: #D9D9D9;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.submit {
    margin-top: 30px;
    font-size: 15px;
    border-color: transparent;
    padding: 10px;
    background: rgba(42, 81, 103, 0.25);
    border-radius: 5px;
    cursor: pointer;
}
input:hover{
    background-color: rgba(45, 84, 106, 0.40) ;
}
@media only screen and (max-width: 576px){
    #container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    header{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    #intro{
        grid-column: 1/7;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 35px;
    }
    #buttons{
        grid-column: 2/6;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #translator{
        grid-column: 1/7;
    }
    .languages{
        margin-left: 20px;
        margin-right: 20px;
    }
    .texts{
        display: flex;
        flex-direction: column;
    }
    .text{
        margin-left: 205px;
    }
    .englishText{
        width: 85.5%;
        margin-left: 20px;
    }
    .englishText2{
        width: 85.5%;
        margin-left: 20px;
    }
    .dutchText{
        width: 85.5%;
        margin-left: 20px;
    }
    .submit{
        margin-left: 230px;
    }
    input{
        margin-left: 230px;
    }
}